h4 a{
	color: #8B4513;
	text-align: center;
}

#bg{
	background-size: 800px 700px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow:hidden;
	background-color: #9932CC;
	position: center;
	width:780px;
	height:40px;

}
li{
	float:right;
}
li a{
	display: inline;
	color: #333333; 
	width:110px;
	height:30px;
	float:right;
}
.container{
	margin-left: auto;
	margin-right: auto;
	width:800px;
	padding: 10px;
}