<!DOCTYPE>
<html>
{% load staticfiles %}
	<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/analysis.css' %}">
		<title>postAnalysis</title>
	</head>
	<div class ="container">
	<body id="bg" style="background-image: url('{% static "images/toUseonProject.jpg" %}');">
	
	    <ul>
  	    <button><li><a href ="{% url 'signUpPage' %}">SIGNUP</a></li></button>
  	    <button><li><a href ="{% url 'loginPage' %}">LOGIN</a></li></button>
  	    </ul>
  		{% if user.is_authenticated %}
  	    <button style="float: right"><a href ="{% url 'patient_info' %}">PATIENTS INFO</a></button>
  	    <button style="float: right"><a href ="{% url 'data_analysis' %}">DATA_ANALYSIS</a></button>
  	    <button style="float: right"><a href ="{% url 'logout' %}">LOGOUT</a></button>
  	    <button style="float: right"><a href ="{% url 'get_data' %}">getData</a></button>

  	    

  		{% else %}
  		<h5></h5>
  		{% endif %}
  	    
  	 </body> 
  	 </div>  
</html>  