<!DOCTYPE>
<html>
{% load staticfiles %}
	<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/analysis.css' %}">
		<title>postAnalysis</title>
	</head>
	<div class ="container">
	<body id="bg" style="background-image: url('{% static "images/purpletoUse.jpg" %}');">
	
	    <ul>
  	    <button><li><a href ="{% url 'patientsInfo' %}">SUBMIT</a></li></button>
  	  </ul>
      <h1>LOGIN</h1>
      <form id="login_form" method="post" action="/">
          {% csrf_token %}
          Username: <input type="text" name="username" size="50" />
          Password: <input type="password" name="password" size="50" />
          <br />
          <input type="submit" value="submit">
        
     </form>
  	
  	    
  </body> 
  </div>  
</html>  